.list-row {
  display: flex;
  justify-content: space-between;
}

.todo-item {
  font-size: 1.5rem;
  margin-bottom: 0;
  margin-left: 1rem;
  /* text-decoration: line-through; */
}

.todo-col {
  display: flex;
}
.button-list {
  display: flex;
  justify-content: end;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0px 16px;
}

.edit-button, .delete-button {
  border-radius: 8px;
  border: none;
  padding: 0px 16px;
  margin: 7px 5px;
}